@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Simple Joke Application</h1>
    <p> We're going to try and create an application that displays a few jokes</p>

    <div>
        <h1>
Use the Tabs in the navigation bar to create, search for a joke    </h1>
    
</div>
</div>


